/* container */

.portugol-dark {
  background-color: #263238;
  color: #fbfbfb;
  border-radius: 8px;
}

.portugol-light {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}

/* tokens */

.token.comment {
  color: #66747b;
  font-style: italic;
}

.token.string {
  color: #ffc116;
}

.token.number {
  color: #00f0c0;
}

.token.boolean {
  color: #00f0c0;
  font-weight: bold;
}

.token.keyword {
  color: #f1433c;
  font-weight: bold;
}

.token.type {
  color: #e06c75 !important;
  font-weight: bold;
}

.token.operator {
  color: #39bdff;
}

.token.function {
  color: #39bdff;
}

.token.builtin {
  color: #39bdff;
}

.token.class-name {
  color: #e8e2b7;
}

.token.property {
  color: #39bdff;
}

.token.constant {
  color: #00f0c0;
}

.token.punctuation {
  color: #e8e2b7;
}

/* line numbers */

.portugol-dark .react-syntax-highlighter-line-number {
  color: #546e7a;
  padding-right: 1.5em;
}

.portugol-light .react-syntax-highlighter-line-number {
  color: #94a3b8;
  padding-right: 1.5em;
}