/* src/styles/prism-tomorrow-dark.css */
html.dark {
  /*
  * Tomorrow Night theme for Prism.js
  * Based on https://github.com/chriskempson/tomorrow-theme
  * @author Rose Park <rosspark@outlook.com>
  */

  code[class*="language-"],
  pre[class*="language-"] {
    color: #c5c8c6;
    font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #1d1f21;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
  }

  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #969896;
  }

  .token.punctuation {
    color: #c5c8c6;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.function-name,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #cc6666;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.function,
  .token.builtin,
  .token.inserted {
    color: #b5bd68;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #b294bb;
    background: hsla(0, 0%, 100%, .05);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #81a2be;
  }

  .token.class-name,
  .token.important {
    color: #f0c674;
  }

  .token.regex,
  .token.variable {
    color: #de935f;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}